<!-- 
footer.ejs
Zoë Gawlak
301259131
11 Oct 2023
-->

<footer>
    <div class="text-center fs-6 mt-5 text-secondary">
        <p>Zoë Gawlak &copy; 2023
            <br>COMP229 - Web Application Development
        </p>
    </div>
</footer>