<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('partials/navbar') %>
</body>

</html>
