<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="bg-primary p-3">Contact</h1>
    <p>Contact</p>
  </body>
</html>
